@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600;700&display=swap');

* {
  box-sizing: border-box;
  --cor-laranja: #e8833a;
  --cor-azul: #247a6b;
  --cor-preta: #293845;
  --cor-fundo-tela: #e5e5e5;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--cor-fundo-tela);
  color: var(--cor-preta);
}

body::-webkit-scrollbar{
  display: none;
}

