.Escolher-Filme {
    width: 375px;
    max-width: 100%;
    height: 100vh;
}

.Escolher-Filme .Titulo {
    width: 374px;
    height: 110px;
    left: 0px;
    top: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Escolher-Filme .Titulo h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #293845;
}

/* --------------------------------------------------- */

.Container-Filmes {

    width: 375px;
    max-width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.Catalogo {
    width: 145px;
    height: 209px;
    left: 30px;
    top: 169px;
    margin-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Catalogo img {
    width: 129px;
    height: 193px;
    left: 38px;
    top: 177px;
}

.Catalogo:hover {
    cursor: pointer;
}

/* @media (min-width: 600px) {

    .Container-Filmes {
        width: 40%;
        height: 150%;
    }
} */